@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kanit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kanit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kanit:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kanit:wght@600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;

  position: relative;
  height: 2386px;

  background: #f1f1f1;
}

.header-MainDiv {
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content: space-between;
  padding: 12px 80px;
  /* gap: 748px; */
  /* gap: 51.944%; */
  /* gap: 51.94%; */
  /* width: 100%; */
  height: 62px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0px;
  /* margin-left: 80px; */
  /* margin-left: 5.56%; */
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* gap: 10px; */
  gap: 0.694%;
  /* width: 8.983%; */
  height: 22px;
  /* Inside auto layout */
  flex: none;
  order: 0;
}

.imgMagnifier {
  display: flex;
  height: 22px;
  flex: none;
  order: 0;
}

.logoText {
  height: 22px;
  margin: 0px;

  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.04em;
  text-transform: capitalize;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.Div1-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;

  padding: 0px;
  /* gap: 16px; */
  gap: 1.11%;
  /* width: 410px; */
  width: 28.47%;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

button {
  border-radius: 100px;
}

button:hover {
  background-color: #000000;
  color: white;
}

.footer-Menu1 :hover p {
  color: #ffffff;
}

.Div1-right :hover p {
  color: #ffffff;
}

.button-onTop {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  height: 38px;

  border-radius: 100px;
  border-color: transparent;
  background: #f1f1f1;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.nav-buttonWords {
  height: 18px;
  margin: 0px;

  /* Body S 14 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;

  color: #081e34;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.button-getStarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px 12px; */
  gap: 8px;
  /* width: 102px; */
  /* width: 7.083%; */
  height: 38px;

  background: rgba(8, 30, 52, 0.12);
  border-radius: 100px;
  border-color: transparent;

  /* Inside auto layout */
  flex: none;
  order: 3;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 80px;
  gap: 12.89%;
  height: 420px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
}

.Descpription-Div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 100px 80px; */
  gap: 165px;
  gap: 12.8%;
  width: 100%;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
}

.description-Info {
  width: 38.67%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  /* width: 495px; */
  /* width: 34.375%;
  height: 366px; */

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.description-Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  /* width: 495px; */
  /* width: 34.375%;
  height: 268px; */

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.description-Title {
  /* width: 495px; */
  /* width: 34.375%;
  height: 192px; */
  margin: 0%;

  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  /* or 119% */

  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.Description-typing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
  gap: 32px;

  /* width: 495px; */
  /* width: 34.375%;
  height: 44px; */

  /* Body M 16 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  display: flex;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.button-medium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 48px; */
  padding: 16px 24px;
  gap: 48px;

  /* width: 144px; */
  /* width: 1%; */
  height: 50px;

  background: #712fff;
  border-radius: 100px;
  border-color: transparent;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.button-mediumText {
  /* width: 96px; */
  /* width: 4.791%; */
  height: 18px;
  margin: 0px;

  /* Body S 14 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.description-Visual {
  /* width: 619px; */
  width: 48.28%;
  height: 420px;

  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
}

.Visual1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: flex-start;
  padding: 0px;
  /* gap: 48px; */
  gap: 3.33%;

  width: 100%;
  height: 420px;

  border-radius: 32px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-shrink: inherit;
}

.Visual-fire {
  position: absolute;
  /* width: 148px; */
  width: 10.278%;
  height: 172px;
  top: 17%;
  left: 81%;

  display: flex;
  flex: none;
  order: 1;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

.Visual-dollar {
  display: flex;
  position: absolute;
  width: 9.652%;
  height: 181px;
  /* top: 162px; */
  top: 7.87%;
  left: 65%;

  flex: none;
  order: 1;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 80px;
  gap: 86px;

  height: 362px;

  background: #e1dee7;
  border-radius: 32px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
}

.section2-howItWorks-Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  /* width: 351px; */
  /* width: 24.375%; */
  height: 84px;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.section2-howItWorks-Info-Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  /* width: 351px; */
  /* width: 24.375%; */
  height: 84px;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.HowItWorks-Info-Text-Descr {
  /* width: 169px; */
  /* width: 11.736%; */
  height: 16px;
  margin: 0px;

  /* Caption 12 pt/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.HowItWorks-Info-Title {
  /* width: 351px; */
  /* width: 24.375%; */
  height: 56px;
  margin: 0px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 56px;
  /* identical to box height, or 104% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.HowItWorks-Frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 2.78%;

  width: 88.89%;
  height: 186px;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.HowItWorks-Frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  /* width: 400px; */
  width: 27.778%;
  height: 186px;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.HowItWorks-Frame-1-Icon {
  /* width: 64px; */
  /* width: 4.44%; */
  height: 64px;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

/* .elipse4 {
    position: absolute;
visibility: hidden;
width: 64px;
height: 64px;
left: 0px;
top: 0px;

background: #1E1E1E;
} */

.HowItWorks-Frame-DivForText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  /* width: 400px; */
  /* width: 27.778%; */
  height: 74px;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.HowItWorks-Frame-textTitle {
  /* width: 400px; */
  /* width: 27.778%; */
  height: 28px;

  /* Headline M 24 pt/Bold */
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.HowItWorks-Frame-textDescription {
  /* width: 400px; */
  /* width: 27.778%; */
  height: 22px;
  margin: 0px;

  /* Body M 16 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height, or 138% */
  display: flex;
  align-items: center;
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.section3-InputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 80px;
  gap: 128px;

  height: 222px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
}

.section3-InputField-divInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  /* width: 757px; */
  width: 52.569%;
  height: 222px;

  /* Inside auto layout */
  order: 0;
}

.section3-Inputfield-divText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  /* width: 757px; */
  /* width: max-content; */
  width: 52.569%;
  height: 222px;

  /* Inside auto layout */
  order: 0;
}

.section-3Inputfield-titleText {
  /* width: 495px; */
  /* width: 34.375%; */
  height: 64px;
  margin: 0px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  /* identical to box height, or 119% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.section-3Inputfield-descriptionText {
  /* width: 495px; */
  /* width: 34.375%; */
  height: 44px;
  margin: 0px;

  /* Body M 16 pt/Medium */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.section-3Inputfield-divSearches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  /* width: 757px; */
  width: 100%;
  height: 50px;

  /* Inside auto layout */
  flex: none;
  order: 2;
}

.section-3Inputfield-InputSearch {
  box-sizing: border-box;

  /* width: 619px; */
  width: 81.77%;
  height: 50px;

  background: #ffffff;
  border: 1px solid #e1dee7;
  border-radius: 12px;

  /* Inside auto layout */
  display: flex;
  flex: none;
  order: 0;
}

.section3-InputField-SearchIcon {
  width: 24px;
  /* width: 1.667%; */
  height: 24px;
  margin-left: 13px;
  margin-top: 13px;

  display: flex;
  flex: none;
  order: 0;
  justify-content: flex-start;
  align-items: center;
}

.section-3Inputfield-InputSearch-Form {
  /* position: absolute; */
  /* width: 495px; */
  width: 79.97%;
  height: 22px;
  /* margin-left: 49px; */
  padding-top: 14px;

  /* Body M 16 pt/Medium */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  flex: none;
  order: 0;
  align-items: center;

  color: #000000;

  /* opacity: 0.2; */
}

.section-3Inputfield-InputSearch-InputText {
  /* width: 495px; */
  height: 22px;
  width: 79.97%;
  /* left: 49px;
top: 14px; */

  /* Body M 16 pt/Medium */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  align-items: center;

  color: #000000;
  border-color: transparent;

  /* opacity: 0.5; */
}

.section3-Inputfield-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;

  /* width: 106px; */
  /* width: 7.361%; */
  height: 50px;

  background: #712fff;
  border-color: transparent;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 1;
}

.section-3Inputfield-InputSearch-Form placeholder {
  position: absolute;
  /* width: 495px; */
  width: 79.97%;
  height: 22px;
  left: 49px;
  top: 14px;

  /* Body M 16 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  align-items: center;

  color: #000000;

  /* opacity: 0.2; */
}

.section3-InputField-buttonText {
  /* width: 58px; */
  /* width: 4.028%; */
  height: 18px;
  margin: 0px;

  /* Body S 14 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.section4-CVsubmission {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px 80px;
  /* gap: 128px; */
  gap: 8.89%;

  height: 420px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
}

.section4-CVsubmission-Visual {
  /* width: 619px; */
  width: 42.986%;
  height: 420px;

  background: #ffffff;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.section4-CVsubmission-Photo {
  /* width: 619px; */
  width: 100%;
  height: 420px;

  background: #ffffff;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.section4-CVsubmission-Lightening {
  position: absolute;
  /* width: 87px; */
  width: 6.042%;
  height: 144px;
  left: 6.8%;
  top: 79.3%;

  display: flex;
  flex: none;
  order: 0;
}

.section4-CVsubmission-Star {
  position: absolute;
  /* width: 97px; */
  width: 6.736%;
  height: 94px;
  left: 18.5%;
  top: 74.7%;

  display: flex;
  flex: none;
  order: 0;
}

.section4-CVsubmission-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  /* width: 495px; */
  width: 38.68%;
  height: 214px;

  /* Inside auto layout */

  flex: none;
  order: 1;
}

.section4-CVsubmission-div2-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  /* width: 495px; */
  width: 100%;
  height: 214px;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.section4CVsubmission-div2-Title {
  /* width: 391px; */
  width: 100%;
  height: 56px;
  margin: 0px;

  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 56px;
  /* identical to box height, or 104% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.section4CVsubmission-div2-Description {
  margin: 0px;
  /* width: 495px; */
  width: 100%;
  height: 44px;

  /* Body M 16 pt/Medium */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.section4-CVsubmission-div2-Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 16px 16px;
  gap: 8px;

  width: 114px;
  /* width: 23.03%; */
  height: 50px;

  background: #712fff;
  border-radius: 100px;
  border-color: transparent;

  /* Inside auto layout */
  flex: none;
  order: 2;
}

.CVsubmission-ButtonArrow {
  width: 18px;
  height: 18px;

  /* Inside auto layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: none;
  order: 0;
}

.section4-CVsubmission-div2-Button-Text {
  /* width: 48px; */
  /* width: 100%; */
  height: 18px;
  margin: 0px;

  /* Body S 14 pt/Medium */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
}

.final-Footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 32px 80px;
  /* gap: 32px; */
  gap: 0.222%;

  height: 108px;

  background: #ffffff;
  border-radius: 32px 32px 0px 0px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  align-self: stretch;
}

.footer-Frame22 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  /* gap: 105px; */

  width: 100%;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 0;
}

.footer-Menu1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 16px;

  /* width: 372px; */
  width: 25.833%;
  height: 38px;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.footer-Menu2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;

  /* width: 803px; */
  width: 62.735%;

  height: 38px;

  order: 1;
}

.footer-Frame22-Menu1-Buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;

  height: 38px;

  background-color: transparent;
  border-color: transparent;
  /*
border-radius: 100px; */

  /* Inside auto layout */

  flex: none;
}

.footer-Menu2-Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;

  /* width: 779px; */
  height: 18px;
  /*
border-radius: 100px; */
  background-color: transparent;
  border-color: transparent;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.footer-Menu2-ButtonText {
  /* width: 779px; */
  height: 18px;
  margin: 0px;

  /* Body S 14 pt/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: block;
  justify-content: center;
  flex-wrap: nowrap;
  /* align-items: center; */
  text-align: center;

  color: #1c1b1f;

  opacity: 0.38;
}

.footer-MenuLast {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;

  /* width: 272px; */
  width: 18.889%;
  height: 38px;

  /* Inside auto layout */

  flex: none;
  order: 1;
}

.footer-BottomMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;

  /* width: 248px; */
  height: 38px;

  border-radius: 100px;
  border-color: transparent;
  background-color: transparent;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

@media only screen and (max-width: 800px) {
  body {
    height: 2876px;
  }

  .header-MainDiv {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19.263%;
    flex-direction: column;
    padding: 2.5% 1.875%;
    padding: 32px 24px;
  }

  .Descpription-Div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 54px;
  }

  .description-Visual {
    display: flex;
    order: 0;
    width: 312px;
    height: 210px;
  }

  .Visual1 {
    height: 210px;
  }

  .description-Info {
    width: 100%;
    height: 52.35%;
    display: flex;
    order: 1;
    align-items: center;
    justify-content: flex-start;
  }

  .description-Title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    align-items: center;
    text-align: center;
  }

  .description-Text {
    height: 66.2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .button-medium {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .Description-typing {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Description-typing br {
    display: none;
  }

  header .button-onTop {
    display: none;
  }

  .section2 {
    height: 20.0974%;
    padding: 54px 24px;
    gap: 54px;
  }

  .HowItWorks-Info-Title {
    font-size: 32px;
  }

  .HowItWorks-Frame {
    width: 100%;
    height: 76.125%;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }

  .HowItWorks-Frame-1 {
    width: 100%;
    height: 27.275%;
    gap: 24px;
  }

  .HowItWorks-Frame-1-Icon {
    width: 31.87px;
    height: 42px;
  }

  .HowItWorks-Frame-DivForText {
    width: 100%;
    height: 45%;
    gap: 12px;
  }

  .HowItWorks-Frame-textTitle {
    width: 100%;
    height: 44.45%;
  }

  .HowItWorks-Frame-textDescription {
    width: 100%;
    height: 33.35%;
  }

  .section3-InputField {
    height: 9.701%;
    padding: 54px 24px;
    gap: 128px;
    flex-direction: column;
  }

  .section3-Inputfield-divText {
    width: 100%;
    height: 100%;
    gap: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .section-3Inputfield-titleText {
    width: 100%;
    height: 10.395%;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    justify-content: center;
  }

  .section-3Inputfield-descriptionText {
    width: 100%;
    height: 19.355%;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  .section-3Inputfield-descriptionText br {
    display: none;
  }

  .section-3Inputfield-divSearches {
    width: 100%;
    height: 47.315%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-3Inputfield-InputSearch {
    width: 100%;
  }

  .section-3Inputfield-InputSearch-Form {
    width: 76.28%;
  }

  .section-3Inputfield-InputSearch-InputText {
    width: 100%;
  }

  .section4-CVsubmission {
    height: 18.6023%;
    padding: 64px 24px;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
  }

  .section4-CVsubmission-Visual {
    height: 39.254%;
    display: flex;
    justify-content: center;
  }

  .section4-CVsubmission-Photo {
    width: 312px;
    height: 210px;
    display: flex;
    justify-content: center;
  }

  .section4-CVsubmission-div2 {
    width: 100%;
    height: 36.823%;
  }

  .section4-CVsubmission-div2-text {
    width: 100%;
    height: 100%;
    gap: 32px;
  }

  .section4CVsubmission-div2-Title {
    height: 14.725%;
    font-size: 24px;
    line-height: 120%;
  }

  .section4CVsubmission-div2-Description {
    height: 27.415%;
    font-size: 14px;
    line-height: 18px;
  }

  .section4-CVsubmission-div2-Button {
    width: 36.54%;
  }

  .section4CVsubmission-div2-Description br {
    display: none;
  }

  .final-Footer {
    padding: 32px 24px;

    height: 13.7692%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-Frame22 {
    height: 87.375%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-Menu1 {
    width: 50%;
    height: 65.32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-Menu1 img {
    margin-left: 12px;
  }

  .footer-Menu2 {
    width: 100%;
    height: 20.81%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-Menu2-Button {
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .footer-Menu2-ButtonText {
    width: 100%;
    height: 100%;

    font-weight: 400;
    line-height: 24px;

    display: block;
    text-align: left;
  }

  .footer-MenuLast {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .section-3Inputfield-titleText,
  .section4CVsubmission-div2-Title {
    font-size: 32px;
  }

  .HowItWorks-Frame-textTitle {
    font-size: 20px;
  }

  .HowItWorks-Frame-textDescription {
    font-size: 15px;
  }

  .footer-Menu2-ButtonText {
    height: 39px;
    width: 60%;
    text-align: end;
  }
}